<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Category</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <h1>Category</h1>
   <hr>
    <form th:action="@{/category/save}" method="post" th:object="${category}">
        <label for="name">
            Name
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </label>
        <!---->
        <input type="hidden" th:field="*{id}">
        <input th:field="*{name}" type="text" id="name">
        <br><br>
        <input type="submit" value="Save">
    </form>

    <hr>
   <table>
       <thead>
           <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Action</th>
           </tr>
       </thead>
       <tbody>
       <tr th:each="cate : ${categories}" th:object="${cate}">
            <td th:text="*{id}"></td>
           <td th:text="*{name}">Category</td>
           <td>
               <!--Generate URL category/10/delete-->
               <a th:href="@{/category/{id}/delete(id =*{id})}">Delete</a>
               <a th:href="@{/category/{id}/edit(id = *{id})}">Edit</a>
               <a th:href="@{/category/{id}/(id = *{id})}">View</a>
           </td>
       </tr>
       </tbody>
   </table>

</body>
</html>