<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article Save</title>
    <link th:href="@{/css/article-save.css}" rel="stylesheet">
</head>
<body>
   <div class="container">
       <h1>Create new article</h1>
       <hr>
       <form th:action="@{/article/save}" method="post" th:object="${article}" enctype="multipart/form-data">
           <div class="form-group">
               <label for="title">Title
                   <span class="error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
               </label>
               <input type="text" id="title" th:field="*{title}" placeholder="Enter article title">
           </div>

           <div class="form-group">
                <label for="thumbnailFile">Thumbnail
                    <span class="error-message" th:if="${isFileEmpty}">Thumbnail is required..</span>
                </label>
                <!-- The name required from @RequestParam("thumbnail") code below-->
                <input type="file" accept=".jpg,.jpeg,.png,.gif" id="thumbnailFile" name="thumbnailFile">
           </div>

           <div class="form-group">
               <label for="description">Description</label>
               <textarea id="description" rows="5" th:field="*{description}" placeholder="Write your article content here..."></textarea>
           </div>

           <div class="form-group">
               <label for="category">Category
                   <span class="error-message" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
               </label>
               <select id="category" th:field="*{category.id}">
                   <option value="0" disabled selected> Select category</option>
                   <option th:each="cate : ${categories}"
                           th:text="${cate.name}"
                           th:value="${cate.id}">
                   </option>
               </select>
           </div>
           <input type="submit" value="Save">
       </form>
   </div>
</body>
</html>